<h1>
You are on IPL's Homepage
</h1>
<h1>
To view teams page <%= link_to "Click", teams_path %>
</h1>
<h1>
To view players page <%= link_to "Click", players_path %>
</h1>
<h1>
To view countries page <%= link_to "Click", countries_path %>
</h1>